* {
    color: #5D5C61;
    /* rbg(93,92,97) */
    color: #379683;
    /* rbg(55, 150, 131) */
    color: #7395ae;
    /* rbg(115, 149, 174) */
    color: #557a95;
    /* rgb(85, 122, 149) */
    color: #b1a296;
    /* rgb(177, 162, 150 */
}